// flex layout mixin
@mixin flex-layout(
    $direction: row,
    $main-align: center,
    $cross-align: center,
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main-align;
    align-items: $cross-align;
}
// grid layout mixin
@mixin grid-layout(
    $rows: 1fr,
    $columns: 1fr,
    $gap: 0,
) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    gap: $gap;
}