* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	width: 100vw;
	height: 100vh;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}
body, #app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}